<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
 	<description>Oracle Datasource example</description>
 	<res-ref-name>jdbc/myoracle</res-ref-name>
 	<res-type>javax.sql.DataSource</res-type>
 	<res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>write</servlet-name>
    <servlet-class>com.exam.controller.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>write</servlet-name>
    <url-pattern>/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbs</servlet-name>
    <servlet-class>com.exam.controller.BbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbs</servlet-name>
    <url-pattern>/bbs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbsview</servlet-name>
    <servlet-class>com.exam.controller.BbsViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbsview</servlet-name>
    <url-pattern>/bbsview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbsdelete</servlet-name>
    <servlet-class>com.exam.controller.BbsDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbsdelete</servlet-name>
    <url-pattern>/bbsdelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbsupdate</servlet-name>
    <servlet-class>com.exam.controller.BbsUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbsupdate</servlet-name>
    <url-pattern>/bbsupdate.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Qnawrite</servlet-name>
    <servlet-class>com.exam.QnA.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qnawrite</servlet-name>
    <url-pattern>/qwrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnA</servlet-name>
    <servlet-class>com.exam.QnA.QnAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnA</servlet-name>
    <url-pattern>/qna.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnAview</servlet-name>
    <servlet-class>com.exam.QnA.QnAViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnAview</servlet-name>
    <url-pattern>/qview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnAdelete</servlet-name>
    <servlet-class>com.exam.QnA.QnADeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnAdelete</servlet-name>
    <url-pattern>/qdelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnAupdate</servlet-name>
    <servlet-class>com.exam.QnA.QnAUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnAupdate</servlet-name>
    <url-pattern>/qupdate.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>answer</servlet-name>
    <servlet-class>com.exam.QnA.QnAAnswerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answer</servlet-name>
    <url-pattern>/answer.do</url-pattern>
  </servlet-mapping>
  
</web-app>